[submodule "monolith"]
	path = monolith
	url = https://github.com/iakovalenko-highload-architect/monolith
	branch = main
[submodule "service-dialog"]
	path = service-dialog
	url = https://github.com/iakovalenko-highload-architect/service-dialog
	branch = hw-6
